{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "browsers": [
          "> 1%",
          "last 2 versions",
          "Firefox ESR",
          "IE >= 11"
        ]
      },
      "useBuiltIns": true
    }],"stage-0"
  ],
  "plugins": [
    ["transform-runtime", {"polyfill": false}]
  ]
}
